snippet arr
	${1:type} ${2:name}[${3:n}];
snippet pr
	printf("${1:text}\\n");$0
snippet pv
	printf("%${1:d}\n", ${2});$0
snippet ss
	scanf("%${1:n}s", ${2:str});$0
snippet si
	scanf("%i", &${2:var});$0
snippet fg
	fgets(${1:str_name}, ${2:str_size}, stdin);
